@media(max-width:900px) {
    ul.navbar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    ul.navbar-container li {
        list-style: none;
    }
}

@media(min-width:901px) {
    ul.navbar-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 0;
    }
    ul.navbar-container li {
        list-style: none;
        display: inline-block;
        padding-right: 10px;
    }
}




