@media(max-width:370px){
    div#post-main-container{
        width: 100vw;
        height: 100vh;
    }

    img#my-swimming-photo{
        width: 90%;
        height: auto;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(min-width:301px) and (max-width:900px) {
    div#post-main-container{
        width: 100vw;
        height: 100vh;
    }

    header, footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(min-width:901px) {
    div#post-main-container{
        display: grid;
        grid-template-columns: 40% 8% 1fr 1fr;
        grid-template-rows: 6.5% 90.5% 1% 1fr;
        grid-template-areas: 
        "phd phd phd phd"
        "pmain pmain pmain psd"
        "pmain pmain pmain psd"
        "pft pft pft pft";
        border: 2px solid plum;
        width: 100vw;
    }
} 

header{
    grid-area: phd;
}

footer{
    grid-area: pft;
}

div#post-content{
    grid-area: pmain;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div#post-sidebar{
    grid-area: psd;
}

h2#post-title{
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}

.post-box{
    border: 1px solid purple;
    background: mediumturquoise;
}

button{
    margin-bottom: 12px;
}

figcaption#image-caption{
    text-align: center;
}

p.text-paragraph{
    margin: 0.7em 1em 0.2em;
}

img#avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div#author-info > p{
    margin: 0.3em 1em 0.2em;
}

div#social-sharing{
    margin: 0.5em 1em 0.2em;
}

p#content-bold{
    font-weight: bold;
}

p#content-italic{
    font-style: italic;
}

p#content-underline{
    text-decoration: underline;
}

div.blog-post-card{
    box-shadow: 5px 2px 10px 2px #888888;
    border-radius: 5px;
    margin: 5px 5px;
    background-color: whitesmoke;
}