@import "header.css";
@import "sidebar.css";
@import "content.css";

@media(max-width:300px) {
    div#main-container{
        display: grid;
        grid-template-rows: 15% 6% 74% 5%;
        grid-template-areas: 
        "hd"
        "sd"
        "main"
        "ft";
        width: 100vw;
        height: 100vh;
    }
}


@media(min-width:301px) and (max-width:900px) {
    div#main-container{
        display: grid;
        grid-template-columns: 15% 80% 1fr 1fr;
        grid-template-rows: 15% 60% 1fr 1fr;
        grid-template-areas: 
        "hd hd hd hd"
        "sd main main main"
        "sd main main main"
        "ft ft ft ft";
        border: 1px solid red;
        width: 100vw;
        height: 100vh;
    }
}

@media(min-width:901px) {
    div#main-container{
        display: grid;
        grid-template-columns: 250px 200px 1fr 1fr;
        grid-template-rows: 130px 500px 1fr 1fr;
        grid-template-areas: 
        "hd hd hd hd"
        "sd main main main"
        "sd main main main"
        "ft ft ft ft";
        border: 2px solid red;
    }
}

.box{
    border: 1px solid blue;
    background: yellowgreen;
}

header{
    grid-area: hd;
}

footer{
    grid-area: ft;
}

div#content{
    grid-area: main;
}

div#sidebar{
    grid-area: sd;
}




